Host = "{{ _scollector.server.protocol|default("https") }}://{% if _scollector.auth is defined %}{{ _scollector.auth.user }}:{{ _scollector.auth.password }}@{% endif %}{{ _scollector.server.ip }}:{{ _scollector.server.port }}"
FullHost = false
Hostname = "{{ ansible_hostname ~ "." ~ _scollector.domain }}"
{% if _scollector.max_queue_len is defined %}
MaxQueueLen = {{ _scollector.max_queue_len }}
{% endif %}
{% if _scollector.external_collectors is defined %}
ColDir = "{{ _scollector.external_collectors.dir }}"
{% endif %}
DisableSelf = false

[Tags]
  hostgroup = "{{ _scollector.hostgroup }}"
{% if _scollector.common is defined and _scollector.common.tags is defined %}
{% for k,v in _scollector.common.tags.items() %}
  {{ k }} = "{{ v }}"
{% endfor %}
{% endif %}

{% if _scollector.extra_lines is defined %}
{{ _scollector.extra_lines }}
{% endif %}

